@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Spectral:700i');

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Spectral', serif;
	overflow-x: hidden;
}

.time-section {
	@include center;
	flex-direction: column;
	color: white;
	height: 100vh; width: 100vw;
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
	padding-left: 30px; padding-right: 30px;
	.bold {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	}
	.activity-text {
		font-size: 1.5rem;
	}
}

#california {
	background-image: linear-gradient(45deg,#cc6b8e 0%, #f7c978 100%);
}

#chicago {
background-image: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
}

#nyc {
background-image: linear-gradient(45deg, #fff1eb 0%, #ace0f9 100%);
}

#london {
	background-image: linear-gradient(45deg, #6e45e2 0%, #88d3ce 100%);
}

#india {
background-image: linear-gradient(45deg, #c71d6f 0%, #d09693 100%);
}

#japan {
background-image: linear-gradient(45deg, #64b3f4 0%, #c2e59c 100%);
}